# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 
* List the popular languages for Data Science
* List the commonly used libraries in Data Science
* List open source development environment tools used in Data Science
* Simple arithmetic calculations in Jupyter Notebook

# Some of the popular languages that the Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JScript
9. PhP
10. Go
11.  Ruby

# Some of the commonly used libraries by the Data Scientists include:

* Python Libraries
 -Pandas, NumPy, Matplotlib, Seaborn, Plotly etc
* Scala Libraries
 -Vegas, BigDL
* R Libraries
 -ggplot2 and so on

|Data Science Tools|
|------------------|
|RStudio|
|Jupyter|
|Jupyter Lab|
|Spyder |
|Apache Zepplin|

### Below are a few examples of evaluating arithmetic expression in Python:

In [9]:
# This is a simple arithmetic expression to multiply then add numbers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60

x= 200/60
print (x ,"hours")

3.3333333333333335 hours

## Author
Gunjan Narang